*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hero{
    background: url(../images/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.search{
    border-radius: 50px;
    background: #F6CF6CAD;
    color: white;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    border: 2px solid #FFFFFF;
}

.search::placeholder{
    padding-left: 5px;
    color: white;
    font-family: Inter, Helvetica, sans-serif;
}

.heroImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.greenButton{
    height: 37px;
    width: 155px;
    background: #647552;
    border-radius: 50px;
    font-family: Inter, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    border: 0;
}

.announcement{
    background: url(../images/announcement.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.title {
    text-align: center;
    font-size: 4vmin;
}


.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.row .col{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 20px;
    max-width: 300px;
}

.row .col h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: 800;
    text-align: left;
}

.row .col p{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.events .row{
    margin-top: 50px;
}

.main-scroll-div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cover{
    position: relative;
    width: 90%;
    height: 50%;
}

.scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child{
    min-width: 300px;
    height: 225px;
    margin: 1px 0px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
}

.child-img{
    width: 100%;
    height: 100%;
}

/* FOOTER*/
.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    background: url(../images/footer_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner_footer .footer_logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}

.inner_footer .footer_logo_container img{
    height: auto;
}

.footer_third{
    width: calc(21.66666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
}

.inner_footer_right h1{
    font-family: 'Patua One', cursive;
    font-size: 25px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    margin-right: 267px;
    margin-bottom: 0px;
}

.inner_footer_right p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    margin-right: 267px;
    margin-top: 0;
}

a.bold_inter{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
    color: black;
    display: block;
    padding-bottom: 25px;
}

.footer_third ul{
    padding-left: 0;
}

h3.inter_500{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
}

p.inter_400{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

.home_email{
    width: 523px; 
    height: 40px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border: 1px solid #FFFFFF; 
    border-radius: 40px; 
    background: rgba(252, 218, 135, 0.68); 
    margin-bottom: 20px;
}

.home_email::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    text-align: left;

    padding-left: 20px;
    color: #828A70;
}

.footer-submit{
    width: 217px;
    height: 52px;
}

a.footer_underline_inter{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    color: #4E5A3F;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    padding-bottom: 40px;
}
